/* Esto es un comentario */
* {
    background-color: #15202B;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;

    padding: 0;
    margin: 0;
}

a {
    color: rgb(29, 161, 242);
    text-decoration: none;
}


img,svg {
    max-width: 100%;
    max-height: auto;
}

.textGrey {
    color: #6E7886;
}

.container-twitt {
    border: solid white;
    width: 650px;
    height: 400px;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.twitt-body {
    grid-column: 1/13;
    grid-row: 1/11;

    display: grid;

    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr;
}

.twitt-icons {
    grid-column: 1/13;
    grid-row: 11/13
}