*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(29, 161, 242);
    --border-color: rgb(56, 68, 77);
    --shadow-color: rgba(29, 161, 242, 0.1);
}

html {
    color: #fff;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: #15202B;
}

a {
    text-decoration: none;
    color: #fff;
}

button {
    cursor: pointer;
}

input:focus {
    outline: none;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}