:root {
    --primary-color-grey: #6E7886;
    --primary-color-grey-50: rgba(110, 120, 134, 0.1);

    --color-icon-comentario: rgb(29, 161, 242);
    --color-icon-comentario-50: rgba(29, 161, 242, 0.4);

    --color-icon-retwit: rgb(24, 176, 95);
    --color-icon-retwit-50: rgba(24, 176, 95,0.4);

    --color-icon-like: rgb(224, 36, 94);
    --color-icon-like-50: rgba(224, 36, 94,0.4);

    --color-icon-compartir: rgb(30, 148, 221);
    --color-icon-compartir-50: rgba(30, 148, 221, 0.4);
}

* {
    background-color: #15202B;
    color: #ffffff;

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: rgb(29, 161, 242);
    text-decoration: none;
}

img,
svg {
    max-width: 100%;
    max-height: auto;
}

body {
    display: flex;

    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container-twitt {
    border-radius: 10px;
    border: solid 0.5px;
    border-color: transparent transparent var(--primary-color-grey) transparent;
    width: 650px;
    height: 400px;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 40px;
}

.container-twitt *{
    background-color: transparent;
}

.container-twitt:hover {
    background-color: var(--primary-color-grey-50);
    transition-duration: 0.5s;
}

.container-body {
    grid-column: 1/2;
    grid-row: 1/2;

    display: grid;
    grid-template-columns: 75px 1fr;
}

.container-avatar img {
    width: 75%;
    border-radius: 50%;
    margin: 10px;
}

.container-twitt-body
.header
p {
    padding: 5px 0px;
}

.container-twitt-body
.body {
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}

.container-twitt-body
.body
img {
    width: 95%;
    border-radius: 20px;
    border: solid 0.5px var(--primary-color-grey);
}

.textGrey {
    color: var(--primary-color-grey);
}

.container-icons {
    grid-column: 1/2;
    grid-row: 2/3;

    display: flex;

    justify-content: space-around;
}

.icon {
    width: 45px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.icon svg,
.icon span {
    color: var(--primary-color-grey);
    fill: var(--primary-color-grey);
}

.icon svg {
    border-radius: 50%;
    width: 80%;
    padding: 5px;
    margin-right: 2.5px;
}

.icon span {
    font-size: small;
}

/* Icono Comentario */
.container-icons .icon:nth-child(1):hover svg,
.container-icons .icon:nth-child(1):hover span {
    transition-duration: 300ms;
}
.container-icons .icon:nth-child(1):hover svg {
    background-color: var(--color-icon-comentario-50);
    fill: var(--color-icon-comentario);
}
.container-icons .icon:nth-child(1):hover span {
    color: var(--color-icon-comentario);
}

/* Icono Retwitt */
.container-icons .icon:nth-child(2):hover svg,
.container-icons .icon:nth-child(2):hover span {
    transition-duration: 300ms;
}
.container-icons .icon:nth-child(2):hover svg {
    background-color: var(--color-icon-retwit-50);
    fill: var(--color-icon-retwit);
}
.container-icons .icon:nth-child(2):hover span {
    color: var(--color-icon-retwit);
}

/* Icono Like */
.container-icons .icon:nth-child(3):hover svg,
.container-icons .icon:nth-child(3):hover span {
    transition-duration: 300ms;
}
.container-icons .icon:nth-child(3):hover svg {
    background-color: var(--color-icon-like-50);
    fill: var(--color-icon-like);
}
.container-icons .icon:nth-child(3):hover span {
    color: var(--color-icon-like);
}

/* Icono Compartir */
.container-icons .icon:nth-child(4):hover svg {
    background-color: var(--color-icon-comentario-50);
    fill: var(--color-icon-comentario);
    transition-duration: 300ms;
}