* {
    background-color: #15202B;
    color: #ffffff;

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: rgb(29, 161, 242);
    text-decoration: none;
}

img,
svg {
    max-width: 100%;
    max-height: auto;
}

body {
    border: 1px solid red;
    display: flex;

    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container-twitt {
    border: solid 1px white;
    width: 650px;
    height: 400px;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px;
}

.container-body {
    grid-column: 1/2;
    grid-row: 1/2;

    display: grid;
    grid-template-columns: 50px 1fr;
}

.textGrey {
    color: #515B69;
}

.container-icons {
    grid-column: 1/2;
    grid-row: 2/3;

    display: flex;

    justify-content: space-around;
}

.icon {
    border: solid 1px white;
    width: 60px;
}

.icon > svg {
    width: 60%;
}